footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
}

.social-container {
  /* padding: 25px 50px; */
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.github {
    color: black;
}
a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}
